html,
body {
  padding: 0;
  margin: 0;
}

.self-dialog .el-dialog__footer {
  text-align: center;
}
.form-subtitle {
  display: flex;
  min-height: 30px;
  align-items: center;
  font-size: 16px;
  color: #303133;
  margin-bottom: 15px;
}
.form-subtitle::before {
  content: "";
  background-color: #409eff;
  margin-right: 5px;
  width: 3px;
  height: 16px;
}

.font-blod {
  font-weight: bold;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.width80 {
  width: 80px;
}
.width120 {
  width: 120px;
}
.width220 {
  width: 220px;
}

.h30 {
  height: 34vh !important;
}
.h20 {
  height: 24vh !important;
}
.h15 {
  height: 19vh !important;
}
.w24 {
  width: 24vw !important;
}
.w32 {
  width: 32vw !important;
}
.w48 {
  width: 48vw !important;
}
