html,
body {
  padding: 0;
  margin: 0;
}

.font-blod {
  font-weight: bold;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.width80 {
  width: 80px;
}
.width120 {
  width: 120px;
}
